<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/sanPham.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Demo Responsive</title>
</head>
<body>
    <section class="product">
        <div class="container">
            <div class="box">
                <div class="content">
                    <h2>PHÒNG KHÁCH</h2>
                    <a href="" title="Chi-Tiet">Xem chi tiết</a>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="img">
                            <img src="../img/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png" alt="">
                        </div>
                        <p class="item">Bàn uống nước 1</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p class="tem">8.900.000VND</p>
                    </div>
                    <div class="col">
                        <div class="img">
                            <img src="../img/san-pham-noi-bat/phong-khach-ban-uong-nuoc-2.png" alt="">
                        </div>
                        <p class="item">Bàn uống nước 2</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p class="tem">9.900.000VND</p>
                    </div>
                    <div class="col">
                        <div class="img">
                            <img src="../img/san-pham-noi-bat/phong-khach-ke-ti-vi.png" alt="">
                        </div>
                        <p class="item">Kệ TIVI</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p class="tem">12.900.000VND</p>
                    </div>
                    <div class="col">
                        <div class="img">
                            <img src="../img/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                        </div>
                        <p class="item">Kệ đầu giường</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p class="tem">4.900.000VND</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <div class="content">
                    <h2>PHÒNG KHÁCH</h2>
                    <a href="" title="Chi-Tiet">Xem chi tiết</a>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="img">
                            <img src="../img/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png" alt="">
                        </div>
                        <p class="item">Bàn uống nước 1</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p class="tem">8.900.000VND</p>
                    </div>
                    <div class="col">
                        <div class="img">
                            <img src="../img/san-pham-noi-bat/phong-khach-ban-uong-nuoc-2.png" alt="">
                        </div>
                        <p class="item">Bàn uống nước 2</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p class="tem">9.900.000VND</p>
                    </div>
                    <div class="col">
                        <div class="img">
                            <img src="../img/san-pham-noi-bat/phong-khach-ke-ti-vi.png" alt="">
                        </div>
                        <p class="item">Kệ TIVI</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p class="tem">12.900.000VND</p>
                    </div>
                    <div class="col">
                        <div class="img">
                            <img src="../img/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                        </div>
                        <p class="item">Kệ đầu giường</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p class="tem">4.900.000VND</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>