<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên Hệ - Xưởng Mộc</title>

    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/contact-responsive.css">

</head>
<body>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="images">
                    <img src="../images/san-pham-noi-bat/sp-1.jpg" alt="">
                </div>
                <div class="col">
                    <p style="margin-bottom: 1rem;">LIÊN HỆ VỚI CHÚNG TÔI</p>
                    <input type="text" value="Họ tên"><br>
                    <input type="text" value="Email"><br>
                    <input type="text" value="Số điện thoại"><br>
                    <input type="text" value="Nội dung"><br>
                    <button>Gửi</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>