*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #222;
    font-family:'font-medium' ;
}
a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

 /* header */
 /* header{
    border-bottom: 1px solid #000;
 } */
 header nav{
    display: flex;
    align-items: center;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
 }
 header nav .menu{
    display: flex;
    width: calc(7*100%/12);
    justify-content: space-between;
 }
 header nav .menu .menu-item{
    position: relative;
    line-height: 2rem;
 }
 header nav .menu .menu-item:first-child:after{
    content: "";
    position: absolute;
    left: 0;right: 0; bottom: 0;
    background-color: #bd945f;
    height: 0.3rem;
    width: 60%;
}
header nav .menu .menu-item:hover::after{
    content: "";
    position: absolute;
    left: 0;right: 0; bottom: 0;
    background-color: #bd945f;
    height: 0.3rem;
    width: 60%;
}


 /* main */
/* 1. banner */
main .banner .container .banner-img{
    width: 100%;
}
main .banner .container .banner-img img{
    width: 100%;
}
main .banner .container{
    position: relative;
}
main .banner .container .introduction{
    position: absolute;
    left: 5rem;right: 0;top: 5rem;
    width: calc(12*100%/18);
    margin: auto;
}
main .banner .container .introduction h1{
    font-family:'font-ultra' ;
    font-size: 2.5rem;
}
main .banner .container .introduction p{
    width: 50%;
    text-align: justify;
    margin: 2rem 0;
}
main .banner .container .introduction button{
    border: none;
    background-color: #bd945f;
    padding: 1rem 2rem;
    color: #fff;
    font-family: 'font-ultra';
}
/* 2. product */
main .product {
    background-color: #f3f3f3;
}
main .product p{
    text-align: center;
}

main .product .container,
main .product .hot-product{
    width: calc(12*100%/18);
    margin: auto;
}
main .product .container .category{
    padding: 4rem;
    background-color: #fff;
    margin-top: -3rem;
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
main .product .container .category img{
    width: 50%;
}
.category > div{
    text-align: center;
}
main .product .hot-product h2{
    margin-top: 5rem;
    margin-bottom: 2rem;
    position: relative; 
    text-align: center;
    font-size: 1.5rem;
    color: #2c2e53;
}
main .product .hot-product h2::after{
    content: "";
    position: absolute;
    left: 44%;
    right: 0;
    top: 1.6rem;
    bottom: 0;
    background-color: #bd945f;
    height: 0.4rem;
    width: 8rem;
 }
/* main .product .hot-product .produce{
    display: flex;
    justify-content: space-between;
    position: relative;
} */
main .product .hot-product .item{
    margin: 0 1rem;
}
main .product .hot-product img{
    width: 100%;
}
main .big{
    color: #2c2e53;
    font-size: 1rem;
}
.slick-prev:before, .slick-next:before {
    font-size: 3rem;
    color: #bd945f;
}
.slick-prev{
    left: -50px;
}


/* 3. about_us */
/* main .about_us .background img{ 
    width: 100%;
    filter: brightness(30%);
}
main .about_us .container{
    position: relative;
}
main .about_us .we-will h2{
    left: 0; right: 0; top: 5%;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}
main .about_us .we-will h2::after{
    content: "";
    position: absolute;
    left: 46%;
    right: 0;
    top: 1.6rem;
    bottom: 0;
    background-color: #bd945f;
    height: 0.4rem;
    width: 8rem;
 }
main .about_us .we-will .bigp img{
    position: absolute;
    left: 18%; right: 0; top: 13%;
    width: 30%;
}
main .about_us .we-will p{
    position: absolute;
    left: 50%; right: 0; top: 13%;
    width: 32%;
    color: #fff;
    text-align: justify;
} */

.backgourd-about{
    position: absolute;
    z-index: -1 ;
    width: 100%;
    height: 110%;
    background-image: url(../images/ve-chung-toi/bg-about-us.jpg);
    background-size: cover;
    filter: brightness(30%);
}
.container h2{
    padding: 20px;
    font-size: 23px;
    text-align: center;
    color: #fff;
    /* position: relative; */
}
 /* main .about_us.container h2::after{
    content: "";
    position: absolute;
    left: 46%;
    right: 0;
    top: 1.6rem;
    bottom: 0;
    background-color: #bd945f;
    height: 0.4rem;
    width: 8rem;
 } */
.ccabout{
    width: calc(12*100%/18);
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.img-we-one{
    width: 48%;
}
.img-we-one img{
    width: 100%;
}
.about-content{
    width: 46%;
}
.about-content p{
    color: #fff;
    font-size: 12px;
    text-align: justify;
}
.about--list-img{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 12px;
}
.img-we-img{
    width: 22%;
}
.img-we-img img{
    width: 100%;
}

.reason{
    width: calc(12*100%/18);
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.general{
    top: 1rem;
}
.private{
    width: calc(50%-1rem);
    margin: 1rem 1rem;
}
.private-ff{
    background-color: #fff;
    display: flex;
    width: 100%;
}
.private-ff img{
    width: 12%;
}
.text-ff{
    margin: 2rem 1rem;
}
.text-ff h3{
    color: #bd945f;
    font-family:'font-ultra' ;
    font-size: 20px;
}
/* 4. news */
.news{
    margin-top: 7%;
}
.news h2{
    color: #2c2e53;
    position: relative;
}
.news h2::after{
    content: "";
    position: absolute;
    left: 46%;
    right: 0;
    top: 3.3rem;
    bottom: 0;
    background-color: #bd945f;
    height: 0.4rem;
    width: 8rem;
}
.news-img{
    width: calc(12*100%/18);
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.news .news-ff img{
    width: 95%;
}
.news .news-text{
    position: relative;
    background-color: #bd945f;
    width: 95%;
    top: -9rem;
    text-align: justify;
}
.news .news-text h3{
    color: #fff;
    font-size: 1.6rem;
    margin: .5rem 1.5rem;
    padding-top: .5rem;
}
.news .news-text p{
    margin: 0 1.5rem;
    padding-bottom: .5rem;
}
.news-imgs{
    width: 100%;
}
.news-ffs{
    display: flex;
}
.news-ffs img{
    width: 35%;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
}
.news-texts >h3{
    color: #bd945f;
}
.news-texts >p{
    text-align: justify;
    font-size: 0.8rem;
    margin-top: .7rem;
}
.news-imgs >button{
    border: 0px;
    background-color: #fff;
    color: #bd945f;
    margin-top: .7rem;
}

.cople .partner{
    width: calc(12*100%/18);
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.partner ul{
    display: flex;
    width: 100%;
}
.partner ul img{
    width: 100%;
    margin-bottom: 5rem;
}
.partner-img img{
    width: 100%;
}

 /* footer */
 footer{
    margin-top: auto;
    background-color: #363636;
    padding: 2rem 0;
 }
 footer .container{
    display: flex;
    /* align-items: center; */
    width: calc(12*100%/18);
    justify-content: space-between;
    margin: auto;
    padding: 1rem;
    line-height: 1.7rem;
 }
 footer li, footer a, footer .title, footer i{
    color: #fff;
 }
  footer li, footer a{
    font-family:'font-thin' ;
 }
 footer .title{
    margin-bottom: 1rem;
    position: relative;
 }
  footer .title::after{
    content: "";
    position: absolute;
    left: 0;right: 0;bottom: 0;
    background-color: #fff;
    height: 0.2rem;
    width: 5rem;
 }
 footer .contact ul li:first-child{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
 }
 footer .contact ul li div{
    width: 3rem;
    margin-right: 14px;
 }
  footer .contact ul li div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
 }
 footer .contact ul li:last-child div{
    width: 10rem;
}




/* responsive */
@media only screen and (max-width: 1190px){
    header nav .menu{
        width: calc(9*100%/18);
    }
}
@media only screen and (max-width: 1000px){
    header nav .menu{
        display: none;
    }
    header{
        position: relative;
    }
    header nav .response-menu{
        display: block;
        position: absolute;
        right: 0;
        width: 20%;
        background-color: #f3f3f3;
        top: 40%;
        z-index: 3;
        text-align: center;
    }
    .fa-bars{
        display: block!important;
    }
    main .category >div{
        width: 33%;
    }
}
@media only screen and (max-width: 920px){
    main .banner .introduction{
        width: 30%;
    }
    main .introduction >h1{
        font-size: 1rem;
    }
    main .introduction p{
        font-size: .7rem;
    }
    main .introduction >button{
        font-size: 60%;
        width: 20%;
        margin-top: -10rem;
    }
    main .about_us .ccabout .img-we-one{
        width: 100%;
        margin-left: -5rem;
        margin-right: 3rem;
    }
    main .about_us .about-content >p{
        font-size: 9px;
    } 
    main .reason .text-ff >p{
        font-size: 7px;
    }
    main .reason .text-ff >h3{
        font-size: 15px;
    }
    .news h2::after{
        left: 45%;
        width: 6rem;
    }
    .news-img{
        flex-direction: column;
    }
    footer .container{
        flex-direction: column;
        /* text-align: center; */
    }
}
@media only screen and (max-width: 400px){
    main .category >div{
        width: 50%;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 2rem;
    }
    .slick-prev{
        left: -35px;
    }
    main .product .item >img{
        width: 130%;
    }
    main .product .item >p{
        display: none;
    }
    main .about_us .ccabout{
        display: block;
        width: 70%;
        margin-left: 10rem;
    }
    main .about_us h2{
        font-size: 18px;
    }
    main .about_us .reason{
        display: block;
    }
    main .news h2::after{
        left: 40%;
        width: 6rem;
    }
    main .news .news-text >h3,
    main .news .news-text >p{
        font-size: 10px;
        padding-bottom: 1rem;
    }
    main .news .news-texts >h3,
    main .news .news-texts >p{
        font-size: 10px;
    }
}



