<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!--BEGIN: header-->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="" stle="width: 80%">
            </div>
            <ul class="menu">
                <li class="menu-item">
                    <a href="">TRANG CHỦ</a>
                </li>
                <li class="menu-item">
                    <a href="">GIỚI THIỆU</a>
                </li>
                <li class="menu-item">
                    <a href="">SẢN PHẨM</a>
                </li>
                <li class="menu-item">
                    <a href="">TIN TỨC</a>
                </li>
                <li class="menu-item">
                    <a href="">ĐỐI TÁC</a>
                </li>
                <li class="menu-item">
                    <a href="">LIÊN HỆ</a>
                </li>
            </ul>
            <i class="fa-solid fa-bars" style="display: none;" onclick="handleclickmenu()"></i>
        </nav>
    </header>
    <!--END: header-->


    <main>
        <!--BEGIN: banner-->
        <section class="banner">
            <div class="container">
                <div class="banner-img">
                    <img src="../images/banner.png" alt="Banner">
                </div>
                <div class="introduction">
                    <h1 style="color: #2c2e53;">THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM</h1>
                    <h1 style="color: #bd945f;">HOÀNG HOAN</h1>
                    <p>một trong những icon font phổ biến nhất hiện nay, tại thời điểm viết bài 28/10/2020 với phiên bản 5.15.1 hỗ trợ trên 1600 icon miễn phí, rất dễ dàng để tích hợp vào website</p>
                    <button>LIÊN HỆ NGAY</button>
                </div>
            </div>
        </section>
        <!--END: banner-->

        <!--BEGIN: product-->
        <section class="product">
            <div class="container">
                <div class="category">
                    <div>
                        <img src="../images/loai-sp/icon-phong-khach.png" alt="">
                        <p>phòng khách</p>
                    </div>
                    <div>
                        <img src="../images/loai-sp/icon-phong-ngu.png" alt="">
                        <p>phòng ngủ</p>
                    </div>
                    <div>
                        <img src="../images/loai-sp/icon-phong-bep.png" alt="">
                        <p>phòng bếp</p>
                    </div>
                    <div>
                        <img src="../images/loai-sp/icon-phong-tam.png" alt="">
                        <p>phòng tắm</p>
                    </div>
                    <div>
                        <img src="../images/loai-sp/icon-tre-em.png" alt="">
                        <p>trẻ em</p>
                    </div>
                    <div>
                        <img src="../images/loai-sp/icon-van-phong.png" alt="">
                        <p>văn phòng</p>
                    </div>
                    <div>
                        <img src="../images/loai-sp/icon-cau-thang.png" alt="">
                        <p>cầu thang</p>
                    </div>
                    <div>
                        <img src="../images/loai-sp/icon-do-trang-tri.png" alt="">
                        <p>đồ trang trí</p>
                    </div>
                </div>
            </div>
            <div class="hot-product">
                <h2>SẢN PHẨM NỔI BẬT</h2>
                <div class=" slide-product" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}''>
                    <!-- <button class="left"> < </button> -->
                    <div class="item">
                        <img src="../images/san-pham-noi-bat/sp-1.jpg" alt="">
                        <p class="big">GIƯỜNG CHÂU ÂU</p>
                        <p>(size lớn, trắng sữa)</p>
                        <p><b>6.999.000 VND</b></p>
                    </div>
                    <div class="item">
                        <img src="../images/san-pham-noi-bat/sp-2.jpg" alt="">
                        <p class="big">BÀN LÀM VIỆC</p>
                        <P>(size lớn, trắng nâu)</P>
                        <P><b>3.999.000 VND</b></P>
                    </div>
                    <div class="item">
                        <img src="../images/san-pham-noi-bat/sp-3.jpg" alt="">
                        <p class="big">TỦ QUẦN ÁO</p>
                        <p>(có ngăn, trắng gỗ)</p>
                        <p><b>12.999.000 VND</b></p>
                    </div>
                    <div class="item">
                        <img src="../images/san-pham-noi-bat/sp-4.jpg" alt="">
                        <p class="big">KỆ ĐỂ ĐỒ</p>
                        <p>(có ngăn, trắng gỗ)</p>
                        <p><b>3.499.000 VND</b></p>
                    </div>
                    <div class="item">
                        <img src="../images/san-pham-noi-bat/sp-3.jpg" alt="">
                        <p class="big">TỦ QUẦN ÁO</p>
                        <p>(có ngăn, trắng gỗ)</p>
                        <p><b>12.999.000 VND</b></p>
                    </div>
                    <div class="item">
                        <img src="../images/san-pham-noi-bat/sp-2.jpg" alt="">
                        <p class="big">BÀN LÀM VIỆC</p>
                        <P>(size lớn, trắng nâu)</P>
                        <P><b>3.999.000 VND</b></P>
                    </div>
                    <!-- <button class="right"> > </button> -->
                </div>
            </div>
        </section>
        <!--END: product-->

        <!--BEGIN: about-us-->
        <!-- <section class="about_us">
            <div class="container">
                <div class="background">
                    <img src="../images/ve-chung-toi/bg-about-us.jpg" alt="">
                </div>
                <div class="we-will">
                    <h2>VỀ CHÚNG TÔI</h2>
                    <div class="about-we">
                        <div class="bigp">
                            <img src="../images/ve-chung-toi/ve-chung-toi.jpg" alt="">
                        </div>
                        <div>
                            <p>
                                NỘI THẤT <span style="font-family:'font-ultra' ;color: #fff;"> HOÀNG HOAN</span> <br>
                                UY TÍN SONG HÀNH CHẤT LƯỢNG
                                <br><br>
                                Nội thất hoàng hoan chúng tôi tự hào là đứa con tinh thần ra đời sau hơn 30 năm
                                hoạt dộng trong lĩnh vực kinh doanh đồ gỗ nội thất với thương hiệu ĐỒ GỖ HOÀNG HOANG
                                nổi tiếng.
                                <br><br>
                                Tài nguyên của chúng tôi là đội ngũ kiến trúc sư tốt nghiệp ĐH với nhiểu năm kinh
                                nghiệm, luôn tràn đầy nhiệt huyết và sức sáng tạo của tuổi trẻ. Thế mạnh của chúng
                                tôi là sở hữu xưởng nội thất hơn 10.000m2 tại Hà Nội sản xuất đa dạng các sản phẩm
                                với giá cả luôn cạnh tranh.
                                <br>
                            </p>
                            <div class="smallp">
                                <img src="../images/ve-chung-toi/ve-chung-toi-1.jpg" alt="">
                                <img src="../images/ve-chung-toi/ve-chung-toi-2.jpg" alt="">
                                <img src="../images/ve-chung-toi/ve-chung-toi-3.jpg" alt="">
                                <img src="../images/ve-chung-toi/ve-chung-toi-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reason">
                </div>
            </div>
        </section> -->
        <section class="about_us">
            <div class="backgourd-about">
            </div>
            <div class="container">
                <h2>VỀ CHÚNG TÔI</h2>
                <div class="about-cc">
                    <div class="ccabout">   
                        <div class="img-we-one">
                            <img src="../images/ve-chung-toi/ve-chung-toi.jpg" alt="">
                        </div>
                        <div class="about-content">
                            <p>NỘI THẤT <span style="font-family:'font-ultra' ;color: #fff;"> HOÀNG HOAN</span> <br>
                                UY TÍN SONG HÀNH CHẤT LƯỢNG
                                <br><br>
                                Nội thất hoàng hoan chúng tôi tự hào là đứa con tinh thần ra đời sau hơn 30 năm
                                hoạt dộng trong lĩnh vực kinh doanh đồ gỗ nội thất với thương hiệu ĐỒ GỖ HOÀNG HOANG
                                nổi tiếng.
                                <br><br>
                                Tài nguyên của chúng tôi là đội ngũ kiến trúc sư tốt nghiệp ĐH với nhiểu năm kinh
                                nghiệm, luôn tràn đầy nhiệt huyết và sức sáng tạo của tuổi trẻ. Thế mạnh của chúng
                                tôi là sở hữu xưởng nội thất hơn 10.000m2 tại Hà Nội sản xuất đa dạng các sản phẩm
                                với giá cả luôn cạnh tranh.
                                <br>
                            </p> 
                            <div class="about--list-img">
                                <div class="img-we-img">
                                    <img src="../images/ve-chung-toi/ve-chung-toi-1.jpg" alt="">
                                </div>
                                <div class="img-we-img">
                                    <img src="../images/ve-chung-toi/ve-chung-toi-2.jpg" alt="">
                                </div>
                                <div class="img-we-img">
                                    <img src="../images/ve-chung-toi/ve-chung-toi-3.jpg" alt="">
                                </div>
                                <div class="img-we-img">
                                    <img src="../images/ve-chung-toi/ve-chung-toi-4.jpg" alt="">
                                </div>      
                            </div>            
                      </div> 
                  </div>          
                </div>
                <h2>TẠI SAO NÊN CHỌN HOÀNG HOAN</h2>
                <div class="reason">
                    <div class="general">
                        <div class="private">
                            <div class="private-ff">
                                <img src="../images/ve-chung-toi/chinh-sach.jpg" alt="">
                                <div class="text">
                                    <div class="text-ff">
                                        <h3>CHÍNH SÁCH GIÁ</h3>
                                        <p>Tốt nhất và công khai giá trên website</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="private">
                            <div class="private-ff">
                                <img src="../images/ve-chung-toi/chat-luong.jpg" alt="">
                                <div class="text">
                                    <div class="text-ff">
                                        <h3>CHẤT LƯỢNG</h3>
                                        <p>Cam kết chất lượng sản phẩm và giá thi công</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="general" >
                        <div class="private">
                            <div class="private-ff">
                                <img src="../images/ve-chung-toi/san-pham.jpg" alt="">
                                <div class="text">
                                    <div class="text-ff">
                                        <h3>SẢN XUẤT</h3>
                                        <p>Trực tiếp sản xuất với đội ngũ nhân viên hàng đầu</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="private">
                            <div class="private-ff">
                                <img src="../images/ve-chung-toi/bao-hanh.jpg" alt="">
                                <div class="text">
                                    <div class="text-ff">
                                        <h3>BẢO HÀNH</h3>
                                        <p>Dịch vụ bảo hành tốt nhất khu vực</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--END: about-us-->

        <!--BEGIN: news-->
        <section class="news">
            <div class="container">
                <h2>TIN TỨC</h2>
                <div class="news-img">
                    <div class="news-ff">
                        <img src="../images/tin-tuc/tintuc-1.jpg" alt="">
                        <div class="news-text">
                            <h3>Cách chọn Sofa cho phòng khách nhà bạn thêm phần sang trọng</h3>
                            <p>Attention should be paid to every aspect of the sofa such as size, material, color, style and seam of the sofa, to ensure comfort, durability and aesthetics in the living room.</p>
                        </div>
                    </div>
                    <div class="news-imgs">
                        <div class="news-ffs">
                            <img src="../images/tintuc-2.jpg" alt="">
                            <div class="news-texts">
                                <h3>Trang trí phòng khách cho thêm năng động</h3>
                                <p>How to choose a sofa for the living room is the minimum criterion to know so that every homeowner.</p>
                            </div>
                        </div>
                        <div class="news-ffs">
                            <img src="../images/tintuc-3.jpg" alt="">
                            <div class="news-texts">
                                <h3>Cập nhật xu hướng phòng khách phong cách đơn giản</h3>
                                <p>How to choose a sofa for the living room is the minimum criterion to know so that every homeowner.</p>
                            </div>
                        </div>
                        <div class="news-ffs">
                            <img src="../images/tintuc-4.jpg" alt="">
                            <div class="news-texts">
                                <h3>Cách sắp xếp vị trí bàn ăn và nhà bếp một cách rộng rãi</h3>
                                <p>How to choose a sofa for the living room is the minimum criterion to know so that every homeowner</p>
                            </div>
                        </div>
                        <button>XEM THÊM</button>
                    </div>
                </div>
                <h2>ĐỐI TÁC</h2>
                <div class="cople">
                    <div class="partner">
                        <div class="ff">
                            <ul>
                                <li><a href=""><img src="../images/doi-tac/marvella.png" alt=""></a></li>
                                <li><a href=""><img src="../images/doi-tac/melissa.png" alt=""></a></li>
                                <li><a href=""><img src="../images/doi-tac/muong-thanh.png" alt=""></a></li>
                                <li><a href=""><img src="../images/doi-tac/sheraton.png" alt=""></a></li>
                                <li><a href=""><img src="../images/doi-tac/sunrise-sapa.png" alt=""></a></li>
                                <li><a href=""><img src="../images/doi-tac/the-coffee-house.png" alt=""></a></li>
                                <li><a href=""><img src="../images/doi-tac/vinpearl.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>  
                    <div>                  
                        <div class="partner-img">
                            <img src="../images/lienhe-bg.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--END: news-->
    </main>

    <!--BEGIN: footer-->
    <footer>
        <div class="container">
            <div class="infor">
                <div class="title"> THÔNG TIN CHUNG</div>
                <ul class="list-infor">
                    <li style="font-size: 1.2rem; font-family:'font-medium' ;">&nbsp; CÔNG TY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone"></i>&nbsp; 0.9999.9999</li>
                    <li><i class="fa-regular fa-envelope"></i>&nbsp; csk@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i>&nbsp; Nguyễn Trãi, Hà Đông</li>
                </ul>
            </div>
            <div class="about-us">
                <div class="title"> VỀ CHÚNG TÔI</div>
                <ul class="list-pages">
                    <li>
                        <a href="">giới thiệu</a>
                    </li>
                    <li>
                        <a href="">sản phẩm </a>
                    </li>
                    <li>
                        <a href="">tin tức</a>
                    </li>
                    <li>
                        <a href="">đối tác</a>
                    </li>
                    <li>
                        <a href="">liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="contact">
                <div class="title"> KẾT NỐI VỚI CHÚNG TÔI</div>
                <ul>
                    <li>
                        <div>
                            <img src="../images/facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../images/zalo.png" alt="">
                        </div>
                        <div>
                            <img src="../images/mail.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../images/xacnhan-bocongthong.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!--END: footer-->

    <!-- slick -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.slide-product').slick();
        });
        function handleclickmenu(){
            document.querySelector(".menu").classList.toggle("response-menu")
        }
    </script>
</body>
</html>